/* Customize footer */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

footer {
    margin-top: 30px;
}

.table-truncate {
    table-layout: fixed;
}

.table-truncate td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.table-no-truncate {
    white-space: normal;
    overflow: visible;
}


/* on small devices the height does not matter
 because we have only a single column */
@media (min-width: 992px) {
    div.exhibition_teaser_img {
        max-height: 400px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .btn-lg-block {
        display: block;
        width: 100%;
    }
}

/* Because we have a navbar which is fixed to the top
   we use special hidden anchor elements to scroll to
   a element with a offset with the same value as the
   height of the navbar.
*/
.anchor {
    display: block;
    position: relative;
    top: -52px;
    visibility: hidden;
}

.articleDivider {
    text-align: right;
    font-size: 14px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 1px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.c-rating {
    min-width: 120px;
    margin-top: -3px;
}

.legal-notice {
    margin-top: 0;
}

@media (min-width: 768px) {
    .legal-notice {
        margin-top: 50px;
    }
}

.newsSubHeader {
    color: #999999;
    font-size: 12px;
    margin-bottom: 6px;
    margin-top: -8px;
}

.uploadzone {
    margin-left: 20px;
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
    width: 250px;
    height: 250px;
    text-align: center;
}

.uploadzone.is-dragover {
    background-color: grey;
}

.uploadzone_icon {
    display: block;
    height: 130px;
    width: 50px;
    padding-top: 50px;
    margin: auto;
}

.g-recaptcha {
    margin-bottom: 12px;
}